@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Clash Display Font Family */
@font-face {
    font-family: "Clash Display";
    src: url("/fonts/ClashDisplay-Extralight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Clash Display";
    src: url("/fonts/ClashDisplay-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Clash Display";
    src: url("/fonts/ClashDisplay-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Clash Display";
    src: url("/fonts/ClashDisplay-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Clash Display";
    src: url("/fonts/ClashDisplay-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Clash Display";
    src: url("/fonts/ClashDisplay-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@import "tailwindcss";

a, p, button{
    font-family: "Public Sans", sans-serif;
}

@theme {
    /* Colors */
    --color-primary: #155DFC;
    --color-secondary: #A16AD4;
    --color-accent-1: #5977D9;
    --color-accent-2: #539EF0;
    --color-accent-3: #6192AE;
    --color-accent-4: #D46A6A;
    --color-info: #539EF0;
    --color-success: #27AE60;
    --color-warning: #D46A6A;
    --color-danger: #FC3833;
    --color-heading: #030229;
    --color-body30: #030229B2;
    --color-body: #030229;
    --color-gray500: #667085;
    --color-gray5: #E5E5EA;
    --color-gray6: #F2F2F7;
    --color-light-green-40: #93D1B5;
    --color-light-blue: #D1DAF4;
    --color-black: #1B223C;
    --color-stroke-grey: #CCCCCC;
    --color-white: #FFFFFF;

    /* Spacing */
    --spacing-0: 0px;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 28px;
    --spacing-8: 32px;
    --spacing-9: 36px;
    --spacing-10: 40px;

    /* Border Radius */
    --radius-none: 0px;
    --radius-xs: 8px;
    --radius-sm: 10px;
    --radius-md: 14px;
    --radius-lg: 24px;
    --radius-full: 9999px;

    /* Font Family */
    --font-sans: "Clash Display", sans-serif;
    --font-display: "Clash Display", sans-serif;

    /* Font Size */
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 20px;
    --font-size-2xl: 24px;
}

#cta {
    background: url('/assets/pattern.svg') no-repeat center;
    background-color: #A16AD4;
}

#serve {
    background: url('/assets/service-pattern.svg') no-repeat center;
    background-color: #030229;
}